# ===============================================================
# VARIABLES DE ENTORNO - EJEMPLO
# ===============================================================

# ===============================================================
# JWT
# ===============================================================

# Clave Base64 utilizada para firmar los tokens JWT.
JWT_SECRET=

# ===============================================================
# BASE DE DATOS MYSQL
# ===============================================================

# URL de conexión a MySQL.
DB_URL=

# Usuario de MySQL.
DB_USERNAME=

# Contraseña de MySQL.
DB_PASSWORD=

# ===============================================================
# GMAIL
# ===============================================================

# Correo utilizado para enviar emails.
MAIL_USERNAME=

# Contraseña de aplicación de Gmail.
MAIL_PASSWORD=

# ===============================================================
# GOOGLE OAUTH2
# ===============================================================

# Client ID de Google.
GOOGLE_CLIENT_ID=

# Client Secret de Google.
GOOGLE_CLIENT_SECRET=